<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="4.5.1" targetFramework="net45" />
  <package id="NLog" version="4.4.13" targetFramework="net45" />
  <package id="NLog.Config" version="4.4.13" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.13" targetFramework="net45" />
  <package id="OpenCvSharp-AnyCPU" version="2.4.10.20161105" targetFramework="net45" />
</packages>